<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Paytm merchent payment page</title>
</head>
<body>
    <h1>Redirecting to the merchent</h1>
    <h1>Please Don't Refresh Your Page</h1>

    <form action="https://securegw-stage.paytm.in/order/process" method="post" name="paytm">
        {% for key ,value in param_dict.items %}
        <input type="hidden" name="{{key}}" value="{{value}}">
        {% endfor %}
    </form>
</body>
<script>
    document.paytm.submit()
</script>
</html>